  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4" >Upload Service</h1>
        <form action="/show" method="post" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" value="file" class="custom-file-input">
            <label for="file" class="custom-file-label">Choose file</label>
            <input type="submit" value="Submit" class="btn btn-primary btn-block my-4">
          </div>
        </form>
      </div>
    </div>
  </div>
